CONTENTFUL_SPACE_ID=nuutrt4cwach
CONTENTFUL_ACCESS_TOKEN=*
CONTENTFUL_PREVIEW_ACCESS_TOKEN=*
CONTENTFUL_REVALIDATE_SECRET=my_super_secret

CONTENTFUL_MANAGEMENT_TOKEN=*

CONTENTFUL_PREVIEW_SECRET=my_super_secret
CONTENTFUL_ENVIRONMENT=master


NEXT_PUBLIC_ALGOLIA_APP_ID=*
NEXT_PUBLIC_ALGOLIA_SEARCH_KEY=*
NEXT_PUBLIC_ALGOLIA_INDEX_NAME=*
